@charset "utf-8";

body {
    background-color: #f1f1f1;
}

header {
    background-color: white;
    padding: 10px 10px;
    box-sizing: border-box;


}

header input {
    background: url(../image/search.svg)no-repeat;
    background-position: 3px 6px;
    background-color: #f1f1f1;
    flex: 1;
    margin: 0 10px;
    box-sizing: border-box;


}


header img {
    width: 10% !important;
    height: 20px !important;

}

header>div a {
    display: block;
    background-color: red;
    color: white;
    font-size: 14px;
    width: 35px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;

}

main {
    margin-top: 2px;
    max-height: 250px;
    background-color: white;
    padding: 0px 10px;
    box-sizing: border-box;
}

main .seNew {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}


#va-list {
    display: flex;
}

#va-list>li {
    background-color: #f1f1f1;
    margin: 5px 5px;
}